@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 98%;
    --foreground: 240 8% 5%;

    --card: 0 0% 98%;
    --card-foreground: 240 8% 5%;

    --popover: 0 0% 98%;
    --popover-foreground: 240 8% 5%;

    --primary: 233 78% 55%;
    --primary-foreground: 0 0% 98%;

    --secondary: 240 7% 94%;
    --secondary-foreground: 240 8% 5%;

    --muted: 240 7% 94%;
    --muted-foreground: 236 6% 45%;

    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 8% 5%;

    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 98%;

    --border: 220 6% 90%;
    --input: 228 6% 83%;
    --ring: 234 24% 75%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 0 0% 0%;
    --foreground: 0 0% 98%;

    --card: 0 0% 3%;
    --card-foreground: 0 0% 98%;

    --popover: 0 0% 3%;
    --popover-foreground: 0 0% 98%;

    --primary: 233 78% 55%;
    --primary-foreground: 0 0% 98%;

    --secondary: 0 0% 6%;
    --secondary-foreground: 0 0% 98%;

    --muted: 230 5% 22%;
    --muted-foreground: 0 0% 49%;

    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 11%;
    --input: 0 0% 16%;
    --ring: 233 78% 40%;
  }
}

@layer base {
  * {
    @apply border-border box-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
